@use "~@splidejs/splide/dist/css/splide.min.css";
@use "~pushbar.js/src/pushbar.css";

img {
    max-width: 100%;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

// .body-header {
// }

.container {
    max-width: 80%;
    margin: 0 auto;
}

header {
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo-img {
    padding-top: 20px;
    max-width: 150px;
}

.logo {
    width: 20%;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1%;
    
}

.navigation {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 60%;
}

.nav-link {
    color: rgb(128, 128, 128);
    font-family: "Gotham Book";
    padding: 4px;
    transition: background-color .5s ease-out;
    border-radius: 20px;

    &:hover {
        background-color: rgba(0,0,0,.05);
    }
}

.nav-link-header {
    font-size: 14px;
    font-weight: 500;
    margin-right: 40px;
    padding: 6px;
}

.menu {
    // width: 20%;  
}
.menu-nav {
    font-size: 18px;
    max-width: 80%;
}

// .splide,
// .splide__track,
// .splide__list,
// .splide__slide {
//     // height: 110%;
// }

header {
    z-index: 2;
}

.flex-right {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}

.img-cross-svg{
    max-width: 10%;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.menu-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
}




/* ---------------slide------------- */

.slide {
    // height: 110%;
    background-size: cover;
    background-position: center;
}

.slide-1 {
    background-image: url("../img/slide-1-Model-S.png");
}

.slide-2 {
    background-image: url("../img/slide-2-Model-Y.png");
}

.slide-3 {
    background-image: url("../img/slide-3-Model-3.png");
}

.slide-4 {
    background-image: url("../img/slide-4-Model-X.png");
}

.slide-5 {
    background-image: url("../img/slide-5-SolarPanels.png");
}

.slide-6 {
    background-image: url("../img/slide-6-Solar-Roof.png");
}

.slide-7 {
    background-image: url("../img/slide-7-Accessories.png");
}
