@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";
@import "../../node_modules/pushbar.js/src/pushbar.css";


html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

// .body-header {
// }

.container {
    max-width: 80%;
    margin: 0 auto;

}

header {
    align-items: center;
    position: fixed; 
    width: 100%; 
}

.logo-img {
    padding-top: 20px;
    max-width: 150px;
    
}

// .logo {

// }

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
}

.navigation {
    margin-left: 25%;

    .nav-link {
        padding-right: 40px;
        font-size: 14px;
        font-weight: 500;
        color: rgb(128, 128, 128);
        font-family: 'Gotham Book';
    }
}

// .splide,
// .splide__track, 
// .splide__list, 
// .splide__slide {
//     // height: 110%;
// }

header {
    z-index: 2;
}

.button-menu {
    margin-left: 200px;
    padding-right: 40px;
        font-size: 14px;
        font-weight: 500;
        color: rgb(128, 128, 128);
        font-family: 'Gotham Book';
}

/* ---------------slide------------- */

.slide {
    // height: 110%;
    background-size: cover;
    background-position: center;
}

.slide-1 {
    background-image: url("../img/slide-1-Model-S.png");
}

.slide-2 {
    background-image: url("../img/slide-2-Model-Y.png");
}

.slide-3 {
    background-image: url("../img/slide-3-Model-3.png");
}

.slide-4 {
    background-image: url("../img/slide-4-Model-X.png");
}

.slide-5 {
    background-image: url("../img/slide-5-SolarPanels.png");
}

.slide-6 {
    background-image: url("../img/slide-6-Solar-Roof.png");
}

.slide-7 {
    background-image: url("../img/slide-7-Accessories.png");
}


